################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Services/.vs
/Services/Msd.Services.EmailApi/appsettings.Development.json
/Services/Msd.Services.AuthApi/appsettings.Development.json
